{{!-- Characteristics --}}
<div class="resources grid grid-4col">

	<div class="resource flex-group-center">
		<label for="data.characteristics.agility.value" class="resource-label">{{localize 'VALIANCE.AgilityLabel'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.characteristics.agility.value" value="{{data.characteristics.agility.value}}" data-dtype="Number" />
		</div>
	</div>

	<div class="resource flex-group-center">
		<label for="data.characteristics.mind.value" class="resource-label">{{localize 'VALIANCE.MindLabel'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.characteristics.mind.value" value="{{data.characteristics.mind.value}}" data-dtype="Number" />
		</div>
	</div>

	<div class="resource flex-group-center">
		<label for="data.characteristics.power.value" class="resource-label">{{localize 'VALIANCE.PowerLabel'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.characteristics.power.value" value="{{data.characteristics.power.value}}" data-dtype="Number" />
		</div>
	</div>

	<div class="resource flex-group-center">
		<label for="data.characteristics.resilience.value" class="resource-label">{{localize 'VALIANCE.ResilienceLabel'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.characteristics.resilience.value" value="{{data.characteristics.resilience.value}}" data-dtype="Number" />
		</div>
	</div>

</div>

{{!-- Non-Resource Attributes --}}
<div class="resources grid grid-3col">

	<div class="resource flex-group-center">
		<label for="data.attributes.movement.value" class="resource-label">{{localize 'VALIANCE.MovementLabel'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.attributes.movement.value" value="{{data.attributes.movement.value}}" data-dtype="Number" />
		</div>
	</div>

	<div class="resource flex-group-center">
		<label for="data.attributes.lethality.value" class="resource-label">{{localize 'VALIANCE.LethalityLabel'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.attributes.lethality.value" value="{{data.attributes.lethality.value}}" data-dtype="Number" />
		</div>
	</div>

	<div class="resource flex-group-center">
		<label for="data.attributes.resistance.value" class="resource-label">{{localize 'VALIANCE.ResistanceLabel'}}</label>
		<div class="resource-content flexrow flex-center flex-between">
			<input type="text" name="data.attributes.resistance.value" value="{{data.attributes.resistance.value}}" data-dtype="Number" />
		</div>
	</div>

</div>

{{!-- Statuses and Cooldowns/Limited --}}
<div class="grid grid-2col">

	{{!-- Statuses --}}
	<div>
		<ol class="items-list effects-list">
			{{#each effects as |section sid|}}
			<li class="grid grid-cooldown-table items-header" data-effect-type="{{section.type}}">
				<div class="item-name align-left">{{localize 'VALIANCE.StatusLabel'}}</div>
				<div class="item-name align-center">{{localize 'VALIANCE.StatusStackLabel'}}</div>
				<div class="item-controls">
					<a class="effect-control effect-clearAll" data-action="clearAll" title="{{localize 'VALIANCE.ClearAllLabel'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</li>

			<ol class="item-list">
				{{#each section.effects as |effect|}}
				<li class="item effect grid grid-cooldown-table" data-effect-id="{{effect.id}}">
					<div class="item-name effect-name flexrow">
						<img class="item-image" src="{{effect.data.icon}}" />
						<h4>{{effect.data.label}}</h4>
					</div>
					<div class="item-controls">
						{{#if (hasStacks effect)}}
						<a class="effect-control effect-decrease" data-action="decrease" title="{{localize 'VALIANCE.EffectStackDecreaseLabel'}}">
							<i class="fas fa-minus"></i>
						</a>
						<div class="item-name align-center">
							<h4>{{effect.data.flags.valiance.stacks}}</h4>
						</div>
						<a class="effect-control effect-increase" data-action="increase" title="{{localize 'VALIANCE.EffectStackIncreaseLabel'}}">
							<i class="fas fa-plus"></i>
						</a>
						{{/if}}
					</div>
					<div class="item-controls effect-controls flexrow">
						<a class="effect-control" data-action="delete" title="{{localize 'VALIANCE.EffectClear'}}">
							<i class="fas fa-trash"></i>
						</a>
					</div>
				</li>
				{{/each}}
			</ol>
			{{/each}}
		</ol>
	</div>

	{{!-- Cooldowns/Limited --}}
	<div>
		{{!-- Cooldowns --}}
		<ol class="items-list">
			<li class="grid grid-cooldown-table items-header">
				<div class="item-name align-center">{{localize 'VALIANCE.CooldownAbilityLabel'}}</div>
				<div class="item-name align-center">{{localize 'VALIANCE.CooldownValueLabel'}}</div>
				<div class="item-controls">
					<a class="cooldown-control cooldown-create" data-type="activeCooldown" data-action="create" title="{{localize 'VALIANCE.CooldownAddLabel'}}">
						<i class="fas fa-plus"></i>
					</a>
				</div>
			</li>

			{{#each activeCooldowns as |cooldown id|}}
			<li class="grid grid-cooldown-table" data-item-id="{{cooldown._id}}">
				<div class="item-name">
					<h4>{{cooldown.name}}</h4>
				</div>
				<div class="item-controls">
					<a class="cooldown-control cooldown-decrease" data-action="decrease" title="{{localize 'VALIANCE.CooldownDecreaseLabel'}}">
						<i class="fas fa-minus"></i>
					</a>
					<div class="item-name align-center">
						<h4>{{cooldown.data.value}}</h4>
					</div>
					<a class="cooldown-control cooldown-increase" data-action="increase" title="{{localize 'VALIANCE.CooldownIncreaseLabel'}}">
						<i class="fas fa-plus"></i>
					</a>
				</div>
				<div class="item-controls">
					<a class="cooldown-control cooldown-edit" data-type="activeCooldown" data-action="edit" title="{{localize 'VALIANCE.CooldownEditLabel'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="cooldown-control cooldown-delete" data-type="activeCooldown" data-action="delete" title="{{localize 'VALIANCE.CooldownClearLabel'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</li>
			{{/each}}
		</ol>

		{{!-- Limited --}}
		{{!-- Right now this is a barely-reskinned Cooldown list, eventually need to merge the two together as "ability" --}}
		<ol class="items-list">
			<li class="grid grid-cooldown-table items-header">
				<div class="item-name align-center">{{localize 'VALIANCE.LimitedAbilityLabel'}}</div>
				<div class="item-name align-center">{{localize 'VALIANCE.LimitedValueLabel'}}</div>
				<div class="item-controls">
					<a class="cooldown-control cooldown-create" data-type="activeCooldown" data-action="create" title="{{localize 'VALIANCE.LimitedAddLabel'}}">
						<i class="fas fa-plus"></i>
					</a>
				</div>
			</li>

			{{#each activeCooldowns as |cooldown id|}}
			<li class="grid grid-cooldown-table" data-item-id="{{cooldown._id}}">
				<div class="item-name">
					<h4>{{cooldown.name}}</h4>
				</div>
				<div class="item-controls">
					<a class="cooldown-control cooldown-decrease" data-action="decrease" title="{{localize 'VALIANCE.LimitedDecreaseLabel'}}">
						<i class="fas fa-minus"></i>
					</a>
					<div class="item-name align-center">
						<h4>{{cooldown.data.value}}</h4>
					</div>
					<a class="cooldown-control cooldown-increase" data-action="increase" title="{{localize 'VALIANCE.LimitedIncreaseLabel'}}">
						<i class="fas fa-plus"></i>
					</a>
				</div>
				<div class="item-controls">
					<a class="cooldown-control cooldown-edit" data-type="activeCooldown" data-action="edit" title="{{localize 'VALIANCE.LimitedEditLabel'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="cooldown-control cooldown-delete" data-type="activeCooldown" data-action="delete" title="{{localize 'VALIANCE.LimitedClearLabel'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</li>
			{{/each}}
		</ol>
	</div>

</div>

