<form class="flexcol {{cssClass}}" autocomplete="off">

	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
		<div class="header-fields">
			<h1 class="charname">
				<input type="text" name="name" value="{{data.name}}" placeholder="{{localize "ACTOR.NamePlaceholder"}}" />
				<input type="number" name="data.tier" value="{{systemData.tier}}"/>
			</h1>
			<div class="resource">
				<span>Armor: </span>
				<input type="number" name="data.armor.value" value="{{systemData.attributes.armor.value}}" />
				<span> / {{systemData.attributes.armor.max}}</span>
			</div>
			<div class="resource">
				<span>Endurance: </span>
				<input type="number" name="data.endurance.value" value="{{systemData.attributes.endurance.value}}" />
				<span> / {{systemData.attributes.endurance.max}}</span>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="overview">{{localize "ACTOR.OverviewTab"}}</a>
		<a class="item" data-tab="inventory">{{localize "ACTOR.InventoryTab"}}</a>
		<a class="item" data-tab="traitsAndAbilities">{{localize "ACTOR.TraitsAndAbilitiesTab"}}</a>
		<a class="item" data-tab="notes">{{localize "ACTOR.NotesTab"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Overview Tab --}}
		<div class="tab" data-group="primary" data-tab="overview">
			<div class="characteristics">
				<div class="characteristics-header flexrow">
					<span>{{localize "ACTOR.Agility"}}</span>
					<span>{{localize "ACTOR.Intelligence"}}</span>
					<span>{{localize "ACTOR.Power"}}</span>
					<span>{{localize "ACTOR.Resilience"}}</span>
				</div>

				<div class="flexrow">
					<input type="number" name="data.characteristics.agility" value="{{systemData.characteristics.agility}}" />
					<input type="number" name="data.characteristics.intelligence" value="{{systemData.characteristics.intelligence}}" />
					<input type="number" name="data.characteristics.power" value="{{systemData.characteristics.power}}" />
					<input type="number" name="data.characteristics.resilience" value="{{systemData.characteristics.resilience}}" />
				</div>
			</div>
		</div>

		{{!-- Inventory Tab --}}
		<div class="tab" data-group="primary" data-tab="inventory">

		</div>

		{{!-- Traits and Abilities Tab --}}
		<div class="tab" data-group="primary" data-tab="traitsAndAbilities">

		</div>

		{{!-- Notes Tab --}}
		<div class="tab" data-group="primary" data-tab="notes">

		</div>
	</section>
</form>